<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Welcome Dear User</h2>
  <p>This is welcome page for hello world apps</p>
  <ion-img src="https://cdn.logo.com/hotlink-ok/logo-social.png"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>HELLO WORLD APPS</ion-card-subtitle>
      <ion-card-title>Welcome User</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Thank you for downloading our apps. We will keep improving our apps from time to time to give better user experience.
    </ion-card-content>

    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Label Positions
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Default Label</ion-label>
        <ion-input placeholder="placeholder"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Fixed Label</ion-label>
        <ion-input placeholder="placeholder"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Stacked Label</ion-label>
        <ion-input placeholder="placeholder"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
    <section class="full-width">
      <ion-button expand="block" color="warning">Register Now</ion-button>
    </section>

  </ion-card>

  <ion-card>
    <p>Latitude: {{latitude }}</p>
    <p>Longitude: {{longitude }}</p>
    <ion-button (click)="getCurrentCoordinates()">Get Current Location</ion-button>
  </ion-card>



</ion-content>
