<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello World Apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Hello, {{ name }}!</h1>


  <ion-card>
    <ion-card-header routerLink="/posts-list">Go to Posts List</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header routerLink="/photos-list">Go to Photos List</ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header routerLink="/welcome">Go to Welcome Page</ion-card-header>
  </ion-card>

  <p>Email: {{ email }}</p>
  <p>Token: {{ token }}</p>

</ion-content>
